#joystick-container {
    position: absolute;
    /* position: relative; */

    width: 10vw;
    height: 10vw;
    bottom: clamp(20px, 0.5vh, 24px);
    left: 3vw;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 50px 30px;
    padding: auto;

}

#joystick {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #143642;
    border-radius: 50%;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.comment_text {
    color: #1d586c;
    font-size: 1rem;
    /* font-size: 1.5em; */

}

#point_comment {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#velocity_comment {
    right: 2vw;
    top: 20%;
    font-size: clamp(12px, 2vw, 24px);
    position: absolute;
    /* position: flex; */
}

.navigation_bar {
    color: #b8eaf4;
    font-size: 2.5rem;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
    background-color: #081c47;
    padding: 0.5vw 0.5vw;
    border-radius: 0.5vw;
}

.avatar {
    display: flex;
    left: 2%;
    position: relative;
}

.avatar img {
    width: 9vw;
    height: vw;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1%;
}

.avatar p {
    height: fit-content;
    width: auto;
    color: #1d586c;
    /* font-size: 1.5rem; */
    font-size: clamp(12px, 2vw, 24px);
    background-color: #80e8f0;
    padding: 0.5vw 0.5vh;
    border-radius: 0.5vw;
    display: inline-block;
}

body {
    overflow: hidden;
}

.live_image {
    /* position: relative; */
    height: 100%;
    bottom: 0vh;
}